body {
    font-family: "Noto Sans", sans-serif;
}


#header {
    display: flex;
    border: black solid 2px;
    height: 100px;
    justify-content: center;
    width: 100%;
    margin: 0%;
}