body {
    font-family: "Noto Sans", sans-serif;
}


#header {
    display: flex;
    height: 70px;
    justify-content: left;
    width: 100%;
    align-items: center;
}


#member {
    display: flex;
    height: 70px;
    justify-content: right;
    margin: 0%;
    width: 75%;
}

#MemberText {
    background-color: black;
    color: white;
    display: flex;
    height: 47px;
    border: black solid 2px;
    align-self: center;
    align-items: center;
    border-radius: 20px;
}