body {
    font-family: "Noto Sans", sans-serif;
}


#header {
    display: flex;
    border: black solid 2px;
    height: 70px;
    justify-content: left;
    width: 100%;
}


#member {
    display: flex;
    height: 70px;
    justify-content: right;
    width: 80%;
    margin: 0%;
}


